body {
  font: 16px "Calibri", serif;
  margin: 0;
}

div {
  display: flex;
  align-items: flex-start;
}

img {
  height: 16px;
  width: 16px;
  padding: 1px;
  cursor: pointer;
}

img[title="time-icon"] {
  cursor: default;
}

#root {
  flex-direction: column;
}

.header {
  font-size: 20px;
  width: 100%;
  max-width: 100vw;
  margin: auto;
  justify-content: center;
  align-items: baseline;
  background: linear-gradient(white 90%, transparent);
  padding: 5px 0;
  position: sticky;
  top: 0;
}

.filter {
  font: inherit;
  max-width: 30em;
  display: block;
  flex: 1 1 0;
}

.grid {
  line-height: 18px;
  margin: auto;
}

.tier {
  flex-direction: column;
  flex: 1 0 0;
  align-items: center;
  max-width: 150px;
  background: rgba(0, 0, 50, .05);
}

.tier:nth-child(8n+2) {
  background: rgba(0, 0, 50, .10);
}

.tier:nth-child(8n+3) {
  background: rgba(0, 0, 50, .15);
}

.tier:nth-child(8n+4) {
  background: rgba(0, 0, 50, .20);
}

.tier:nth-child(8n+5) {
  background: rgba(0, 0, 50, .25);
}

.tier:nth-child(8n+6) {
  background: rgba(0, 0, 50, .30);
}

.tier:nth-child(8n+7) {
  background: rgba(0, 0, 50, .35);
}

.tier:nth-child(8n) {
  background: rgba(0, 0, 50, .40);
}

.recipe {
  margin: 5px;
  min-height: 90px;
  max-height: 160px;
  min-width: 90px;
  max-width: 200px;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
  transition: 400ms, opacity 400ms cubic-bezier(1, 0, 1, 0), scale 200ms;
}

.filtered {
  min-height: 0;
  max-height: 0;
  min-width: 50px;
  max-width: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  transition: 400ms, opacity 400ms ease-in-out;
}

.enabled .big_icon_and_time {
  background: #efd;
}

.researched .big_icon_and_time {
  background: #0f0; /* only if technologies.json is more up to date than recipes.json */
}

.next .big_icon_and_time {
  background: #ffc;
}

.reachable .big_icon_and_time {
  background: #fdd;
}

.unreachable .big_icon_and_time {
  background: #ccc;
}

.ingredients,
.big_icon_and_time,
.products {
  flex-direction: column;
  flex: 1 0 0;
}

.ingredients {
  align-items: flex-end;
}

.big_icon_and_time {
  font-size: 14px;
  padding: 1px;
  color: black;
  align-items: center;
}

.big_icon_and_time > img {
  padding: 1px 3px;
}

.big_icon > img {
  height: 32px;
  width: 32px;
}

.technology {
  padding-left: 5px;
}
